* {box-sizing: border-box}
form {border: 3px solid #f1f1f1;}

/* Add padding to containers */
.container  {
  width :100%;
  border: 1px solid black;
  background-color: lightgray;
  padding-top: 50px;
  padding-right: 330px;
  padding-bottom: 130px;
  padding-left: 330px;
}
.container signin{

}
img.avatar {
   width: 20%;
   border-radius: 15%;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 18px 40;
  border: none;
  cursor: pointer;
  width: 50%;
  opacity: 3;
}

.registerbtn:hover {
  opacity:3;
}
.nextbutton {
  background-color: #2AAF60;
  color: white;
  padding: 16px 20px;
  margin: 18px 40;
  border: none;
  cursor: pointer;
  width: 50%;
  opacity: 3;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}
.errormsg{
    background:red;
    color:white;
    padding:10px;
}
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}


